body {
    background-color: #13212A;
    color: white
}

.grid-container {
    display: grid;
    grid-row-gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.border {
    border: 3px solid white;
    border-radius: 10px;
}

.grid-item {
    text-align: center;
}

.grid-item-btn {
    text-align: center;
}

button {
    font-size: 25px;
}

.button-space {
    margin-left: 20px;
    margin-right: 20px;
}

.btn:hover {
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.418), 0px 0px 16px 0 rgba(255, 255, 255, 0.062);
}

h1 {
    size: 200%;
    font-weight: 300;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    position: relative;
    text-align: center;
    padding: 50px;
}

input {
    text-align: center;
    width: 300px;
    height: 40px;
}

.spaced {
    padding: 10px;
}


/* .title {
    text-align: center;
} */