/* body {
    background-color: #13212A;
    color: white
} */


/* .flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px green;
    background-color: rgba(0, 0, 255, 0.37);
}

.flexbox-item-1 {
    min-height: 300px;
}

.flexbox-item-2 {
    min-height: 100px;
}

.flexbox-item-3 {
    min-height: 200px;
}

.flexbox-item-4 {
    min-height: 50px;
} */


/* h1 {
    size: 200%;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    padding: 50px;
} */